<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <ul id="menu">
    <li id="menuItem"><a href="/">Home</a></li>
    <li id="menuItem"><a href="/companies">Companies</a></li>
    <li id="menuItem"><a href="/contacts">Contacts</a></li>
    <li id="menuItem"><a class="active" href="/candidates">Candidates</a></li>
    <li id="menuItem"><a href="/jobs">Jobs</a></li>
    <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
    <li id="menuItem"><a href="/applications">Applications</a></li>
  </ul> 

  <br>
  <h2>Job App Tracker:  Enter a New Candidate</h2>
  <p></p>
  <br>
    
  <table class="aTable">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Phone Number</th>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Blow</td>
      <td>joe@blow.com</td>
      <td>123-456-7890</td>
    </tr>
    <tr>
      <td>Darth</td>
      <td>Vader</td>
      <td>darthvader@empire.com</td>
      <td>888-334-8719</td>
    </tr>    
    <tr>
      <td>Vito</td>
      <td>Corleone</td>
      <td>godfather@mafia.com</td>
      <td>800-777-5555</td>
    </tr>  
  </table>      
    
    <div id="form">
      <form>
        <fieldset>
        <legend><h3>Add a Candidate
          <small>( * indicates a required field )</h3></legend>
      <table cellpadding="4" cellspacing="4">
        <tr>
          <td>First Name *</td><td><input text /></td>
        </tr>
          <td>Last Name *</td><td><input text /></td>
        <tr>
          <td>Email Address *</td><td><input text /></td>
        </tr>
        <tr>
          <td>Phone Number</td><td><input text /></td>
        </tr>
        <tr>
          <td colspan="4"><input type="submit" value="Add Candidate" /></td>  
        </tr>
      </table>
    </fieldset>
  </form>  
  </div>

</body>
</html>
