<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <ul id="menu">
    <li id="menuItem"><a href="/">Home</a></li>
    <li id="menuItem"><a href="/companies">Companies</a></li>
    <li id="menuItem"><a href="/contacts">Contacts</a></li>
    <li id="menuItem"><a class="active" href="/candidates">Candidates</a></li>
    <li id="menuItem"><a href="/jobs">Jobs</a></li>
    <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
    <li id="menuItem"><a href="/applications">Applications</a></li>
  </ul> 

  <br>
  <h2>Job App Tracker:  Enter a New Candidate</h2>
  <p></p>
  <br>
    
  <table class="aTable">
    <thead>
      <tr>
          <!-- Iterate through each key in the first entry to get the
          column name -->
          {% for key in candidates[0].keys() %}
      
          <!-- Create a <th> tag with the key inside of it, this will be
          our header row -->
          <th>{{ key }}</th>
      
          <!-- End of this for loop -->
          {% endfor %}
      </tr>    
    </thead>

    <tbody>
      {% for candidate in candidates %}
      <tr>
        {% for key in candidate.keys() %}
        <td>
          {{candidate[key]}}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>      
    
    <div id="form">
      <form action="" method="POST">
        <fieldset>
        <legend><h3>Add a Candidate
          <small>( * indicates a required field )</h3></legend>
          <table cellpadding="4" cellspacing="4">
            <tr>
              <td>First Name *</td><td><input text name="first_name" id="first_name" /></td>
            </tr>
              <td>Last Name *</td><td><input text name="last_name" id="last_name" /></td>
            <tr>
              <td>Email Address *</td><td><input text name="email" id="email" /></td>
            </tr>
            <tr>
              <td>Phone Number</td><td><input text name="phone_number" id="phone_number" /></td>
            </tr>
            <tr>
              <td colspan="2"><input type="submit" value="Add Candidate" /></td>  
            </tr>
          </table>
        </fieldset>
      </form>  
    </div>

</body>
</html>
