<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <ul id="menu">
      <li id="menuItem"><a href="/">Home</a></li>
      <li id="menuItem"><a class="active" href="/companies">Companies</a></li>
      <li id="menuItem"><a href="/contacts">Contacts</a></li>
      <li id="menuItem"><a href="/candidates">Candidates</a></li>
      <li id="menuItem"><a href="/jobs">Jobs</a></li>
      <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
      <li id="menuItem"><a href="/applications">Applications</a></li>
    </ul>  

    <br>
    <h2>Job App Tracker:  Add a New Company</h2>
    <p></p>
    <br>
  
      <table class="aTable">
        <tr>
          <th>company_id</th>
          <th>Name</th>
          <th>Location</th>
          <th>Industry</th>
          <th>Size</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Hooli</td>
          <td>Silicon Valley</td>
          <td>Internet</td>
          <td>10000</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Acme Corporation</td>
          <td>Los Angeles</td>
          <td>Widgets</td>
          <td>5000</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Los Pollos Hermanos</td>
          <td>Albuquerque</td>
          <td>Fast Food</td>
          <td>2500</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Delos Incorporated</td>
          <td>Westworld</td>
          <td>Entertainment</td>
          <td>20000</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Monsters, Inc.</td>
          <td>Disney</td>
          <td>Energy</td>
          <td>15000</td>
        </tr>
      </table>    
  
  
      <div id="form">
        <form>
          <fieldset>
          <legend><h3>Add a Company
            <small>( * indicates a required field )</h3></legend>
        <table cellpadding="4" cellspacing="4">
          <tr>
            <td>Name *</td><td><input text /></td>
          </tr>
            <td>Location *</td><td><input text /></td>
          <tr>
            <td>Industry *</td><td><input text /></td>
          </tr>
          <tr>
            <td>Size * </td><td><input text placeholder="Enter a number"/></td>
          </tr>
          <tr>
            <td colspan="4"><input type="submit" value="Add Company" /></td>  
          </tr>
        </table>
      </fieldset>
    </form>  
    </div>
  
  </body>
  </html>
  