<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <ul id="menu">
      <li id="menuItem"><a href="/">Home</a></li>
      <li id="menuItem"><a class="active" href="/companies">Companies</a></li>
      <li id="menuItem"><a href="/contacts">Contacts</a></li>
      <li id="menuItem"><a href="/candidates">Candidates</a></li>
      <li id="menuItem"><a href="/jobs">Jobs</a></li>
      <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
      <li id="menuItem"><a href="/applications">Applications</a></li>
    </ul>  

    <br>
    <h2>Job App Tracker:  Add a New Company</h2>
    <p></p>
    <br>
  
      <table class="aTable">
        <thead>
          <tr>
          {% for key in companies[0].keys() %}
          <th>{{ key }}</th>
          {% endfor %}
          </tr>
          </thead>

        </tbody>
        {% for company in companies %}
        <tr>
          {% for key in company.keys() %}
          <td>{{ company[key] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
  
      <div id="form">
        <form action="" method="POST">
          <fieldset>
          <legend><h3>Add a Company
            <small>( * indicates a required field )</h3></legend>
        <table cellpadding="4" cellspacing="4">
          <tr>
            <td>Name *</td><td><input name="comp_name" id="comp_name" text /></td>
          </tr>
            <td>Location *</td><td><input name="comp_location" id="comp_location" text /></td>
          <tr>
            <td>Industry *</td><td><input name="comp_industry" id="comp_industry" text /></td>
          </tr>
          <tr>
            <td>Size * </td><td><input type="number" min="1" step="1" name="comp_size" id="comp_size" text placeholder="Enter a number"/></td>
          </tr>
          <tr>
            <td colspan="4"><input type="submit" value="Add Company" /></td>  
          </tr>
        </table>
      </fieldset>
    </form>  
    </div>
  
  </body>
  </html>
  
  
