<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <ul id="menu">
      <li id="menuItem"><a href="/">Home</a></li>
      <li id="menuItem"><a href="/companies">Companies</a></li>
      <li id="menuItem"><a class="active" href="/contacts">Contacts</a></li>
      <li id="menuItem"><a href="/candidates">Candidates</a></li>
      <li id="menuItem"><a href="/jobs">Jobs</a></li>
      <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
      <li id="menuItem"><a href="/applications">Applications</a></li>
    </ul>  

    <br>
    <h2>Job App Tracker:  Add a Contact to a Company</h2>
  
    <p></p>
    <br>
  
  
    <table class="aTable">
      <thead>
        <tr>
          <!-- Iterate through each key in the first entry to get the
          column name -->
          {% for key in contacts[0].keys() %}
      
          <!-- Create a <th> tag with the key inside of it, this will be
          our header row -->
          <th>{{ key }}</th>
      
          <!-- End of this for loop -->
          {% endfor %}    
          <th></th>      
        </tr>
      </thead>

      <tbody>
        {% for contact in contacts %}
        <tr>
          {% for key in contact.keys() %}
          <td>
            {{contact[key]}}
          </td>
          {% endfor %}
          <td>
            <br />
            <form action="" method="POST">
              <input type="hidden" id="statement" name="statement" value="DELETE">
              <input type="hidden" id="contact_id" name="contact_id" value="{{contact['contact_id']}}">
              <input type="submit" value="Delete Contact">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>     

    <div id="form">
      <form action="" method="POST">
        <input type="hidden" id="statement" name="statement" value="INSERT">
        <fieldset>
        <legend>
          <h3>Add a Contact <small>( * indicates a required field )</small></h3>
        </legend>
        <h4>
          A company can only have one contact.  To change a company's contact, delete the existing contact, and then add the new one.
        </h4>
        <table cellpadding="4" cellspacing="4">
          <tr>
            <td>First Name *</td><td><input text name="first_name" id="first_name" /></td>
          </tr>
            <td>Last Name *</td><td><input text name="last_name" id="last_name" /></td>
          <tr>
            <td>Email Address *</td><td><input text name="email" id="email" /></td>
          <tr>
            <td>Company *</td>
            <td>
              <select name="company_id" id="company_id">
                <option value="">Select...</option>
                {% for c in companies %}
                <option value="{{c['company_id']}}">{{c['name']}}</option>
                {% endfor %}
              </select> 
            </td>            
          </tr>
          <tr>
            <td colspan="4"><input type="submit" value="Add Contact" /></td>  
          </tr>
        </table>
      </fieldset>
    </form>  
  </div>
  
</body>
</html>
  