<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <ul id="menu">
      <li id="menuItem"><a href="/">Home</a></li>
      <li id="menuItem"><a href="/companies">Companies</a></li>
      <li id="menuItem"><a class="active" href="/contacts">Contacts</a></li>
      <li id="menuItem"><a href="/candidates">Candidates</a></li>
      <li id="menuItem"><a href="/jobs">Jobs</a></li>
      <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
      <li id="menuItem"><a href="/applications">Applications</a></li>
    </ul>  

    <ul>
      <li>List contacts</li>
      <li>Enter a new contact</li>
      <li>Link contact to company via company_id</li>
    </ul>

    <table class="aTable">
      <tr>
        <th>contact_id</th>
        <th>first name</th>
        <th>last name</th>
        <th>email address</th>
        <th>company_id</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Gus</td>
        <td>Fring</td>
        <td>gusfring@emaildomain.com</td>
        <td>3</td>
      </tr>

    </table>    

    <br /><br />

    <form>
      <table cellpadding="4" cellspacing="4">
        <tr>
          <td>first_name</td><td><input text /></td>
        </tr>
          <td>last_name</td><td><input text /></td>
        <tr>
          <td>email_address</td><td><input text /></td>
        <tr>
          <td>company_id<small> (required)</small></td><td><input text /></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Add" /></td>  
        </tr>
      </table>
    </form>

</body>
</html>
