<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <ul id="menu">
      <li id="menuItem"><a href="/">Home</a></li>
      <li id="menuItem"><a href="/companies">Companies</a></li>
      <li id="menuItem"><a class="active" href="/contacts">Contacts</a></li>
      <li id="menuItem"><a href="/candidates">Candidates</a></li>
      <li id="menuItem"><a href="/jobs">Jobs</a></li>
      <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
      <li id="menuItem"><a href="/applications">Applications</a></li>
    </ul>  

    <br>
    <h2>Job App Tracker:  Add a Contact to a Company</h2>
  
    <p></p>
    <br>
  
  
    <table class="aTable">
      <tr>
        <th>contact_id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>company_id</th>
        <th>Company Name</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Richard</td>
        <td>Hendricks</td>
        <td>rhendricks@hooli.com</td>
        <td>1</td>
        <td>Hooli</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Marvin</td>
        <td>Acme</td>
        <td>marvin@acme.com</td>
        <td>2</td>
        <td>Acme Corporation</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Gus</td>
        <td>Fring</td>
        <td>gfring@lospolloshermanos.com</td>
        <td>3</td>
        <td>Los Pollos Hermanos</td>
      </tr>
    </table>     
  
      <div id="form">
        <form>
          <fieldset>
          <legend><h3>Add a Contact
            <small>( * indicates a required field )</h3></legend>
        <table cellpadding="4" cellspacing="4">
          <tr>
            <td>First Name *</td><td><input text /></td>
          </tr>
            <td>Last Name *</td><td><input text /></td>
          <tr>
            <td>Email Address *</td><td><input text /></td>
          <tr>
            <td>Company *</td>
            <td>
              <select>
                <option value="4">Delos Incorporated</option>
                <option value="5">Monsters, Inc.</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="4"><input type="submit" value="Add Contact" /></td>  
          </tr>
        </table>
      </fieldset>
    </form>  
    </div>
  
  </body>
  </html>
  