<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <ul id="menu">
    <li id="menuItem"><a class="active" href="/">Home</a></li>
    <li id="menuItem"><a href="/companies">Companies</a></li>
    <li id="menuItem"><a href="/contacts">Contacts</a></li>
    <li id="menuItem"><a href="/candidates">Candidates</a></li>
    <li id="menuItem"><a href="/jobs">Jobs</a></li>
    <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
    <li id="menuItem"><a href="/applications">Applications</a></li>
  </ul>   

  <br>
  <br>

    <h2 class = "center">Job App Tracker</h2>
    <h4 class = "center">The BEST online job application tracking tool for growing companies!</h4>
</body>
</html>