<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <ul id="menu">
    <li id="menuItem"><a class="active" href="/">Home</a></li>
    <li id="menuItem"><a href="/companies">Companies</a></li>
    <li id="menuItem"><a href="/contacts">Contacts</a></li>
    <li id="menuItem"><a href="/candidates">Candidates</a></li>
    <li id="menuItem"><a href="/jobs">Jobs</a></li>
    <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
    <li id="menuItem"><a href="/applications">Applications</a></li>
  </ul>   

  <br>
  <br>

    <h2 class = "center">Job App Tracker</h2>
    <h4 class = "center">The BEST online job application tracking tool for growing companies!</h4>

    <div>
      <ul>
        <li>
          <a href="/companies">Companies</a>
          <ul>
            <li>View existing companies</li>
            <li>Add a new company</li>
          </ul>
        </li>

        <li>
          <a href="/contacts">Contacts</a>
          <ul>
            <li>View contact for each company</li>
            <li>Add a new contact for a company without one</li>
          </ul>
        </li>

        <li>
          <a href="/candidates">Candidates</a>
          <ul>
            <li>View existing job candidates registered with the site</li>
            <li>Add a new job candidate</li>
          </ul>
        </li>

        <li>
          <a href="/jobs">Jobs</a>
          <ul>
            <li>View existing job listings</li>
            <li>Add a new job job listing</li>
            <li>Update or activate/deactivate and existing job listing</li>
            <li>Search for jobs based on company, job type, job title, or location</li>
          </ul>
        </li>  
        
        <li>
          <a href="/jobtypes">Job Types</a>
          <ul>
            <li>View existing job types</li>
            <li>Add a new job type</li>
          </ul>
        </li>

        <li>
          <a href="/applications">Applications</a>
          <ul>
            <li>View existing job applications submitted on the site</li>
            <li>Enter a new application to a job for a candidate</li>
            <li>Archive an existing job application</li>
            <li>Delete a job application</li>
          </ul>
        </li>   
      </ul>
    </div>
</body>
</html>