<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <ul id="menu">
    <li id="menuItem"><a href="/">Home</a></li>
    <li id="menuItem"><a href="/companies">Companies</a></li>
    <li id="menuItem"><a href="/contacts">Contacts</a></li>
    <li id="menuItem"><a href="/candidates">Candidates</a></li>
    <li id="menuItem"><a class="active" href="/jobs">Jobs</a></li>
    <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
    <li id="menuItem"><a href="/applications">Applications</a></li>
  </ul>   

  <br>
  <h2>Job App Tracker:  Add, Update, and Search Jobs</h2>

  <p></p>
  <br>

  <table class="aTable">
    <thead>
      <tr>
          <!-- Iterate through each key in the first entry to get the
          column name -->
          {% for key in jobs[0].keys() %}
      
          <!-- Create a <th> tag with the key inside of it, this will be
          our header row -->
          <th>{{ key }}</th>
      
          <!-- End of this for loop -->
          {% endfor %}
      </tr>    
    </thead>

    <tbody>
      {% for job in jobs %}
      <tr>
        {% for key in job.keys() %}
        <td>
          {{job[key]}}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>   
  
<div id="form"> 
  <form action="" method="POST">
    <input type="hidden" id="statement" name="statement" value="SEARCH">
    <fieldset>
    <legend><h2>Search Jobs:</h2></legend>
    <table cellpadding="4" cellspacing="4">
      <tr>
        <td>Search by:
          <select name="search_by" id="search_by">
            <option value="">Select...</option>
            <option value="company">Company</option>
            <option value="job_type">Job Type</option>
            <option value="title">Title</option>
            <option value="location">Location</option>
          </select>
        </td>
      </tr>
        <td>Enter search phrase:</td><td><input text name="search_term" id="search_term" /></td>
      <tr>
        <td><input type="submit" value="Search All Jobs" /></td>  
      </tr>
      <tr>
        <td><a href="/jobs"><small>clear search results</small></a></td></tr>
      </tr>
    </table>
    </fieldset>
  </form>  
</div>  

<div id="form">
  <form action="" method="POST">
    <fieldset>
    <legend><h3>Add a New Job 
      <small>( * indicates a required field )</h3></legend>
    <input type="hidden" id="statement" name="statement" value="INSERT">
    <table cellpadding="4" cellspacing="4">
      <tr>
        <td>Title *</td><td><input text name="title" id="title" /></td>
      </tr>
        <td>Location *</td><td><input text name="location" id="location" /></td>
      <tr>
        <td>Description *</td><td><textarea name="description" id="description" rows="6" cols="50"></textarea></td>
      </tr>
      <tr>
        <td>Company *</td>
        <td>
          <select name="company_id" id="company_id">
            {% for c in companies %}
            <option value="{{c['company_id']}}">{{c['name']}}</option>
            {% endfor %}
          </select> 
        </td>
      </tr>   
      <tr>
        <td>Job Type</td>
        <td>
          <select name="job_type_code" id="job_type_code">
            <option value="">None</option>
            {% for jt in jobTypes %}
            <option value="{{jt['job_type_code']}}">{{jt['description']}}</option>
            {% endfor %}
          </select>                   
        </td>
      </tr>    
        <td colspan="4"><input type="submit" value="Add Job" /></td>  
      </tr>
    </table>
  </fieldset>
  </form>  
</div>

<div id="form"> 
  <form>
    <fieldset>
    <legend><h2>Update a Job:
      <small>( * indicates a required field )</h2></legend>

    <table cellpadding="4" cellspacing="4">
      <tr>
        <td>Job to Update *</td>
        <td>
          <select name="job_id" id="job_id">
            <option value="">Select...</option>
            {% for j in jobs %}
            <option value="{{j['job_id']}}">{{j['Title']}}, {{j['Company']}}</option>
            {% endfor %}
          </select>                   
        </td>
      </tr>
      <tr>
        <td>Title *</td><td><input text /></td>
      </tr>
        <td>Location *</td><td><input text /></td>
      <tr>
        <td>Description *</td><td><input text /></td>
      </tr>
      <tr>
        <td>is_active? * </td>
        <td>
          <input type="checkbox"><small> (mark if yes)</small></td>
      </tr>  
      <tr>
        <td>Job Type</td>
        <td>
          <select>
            <option value="">None</option>
            <option value="EXEC">Executive</option>
            <option value="TECH">Technical</option>
            <option value="ADMIN">Administrative</option>
          </select>          
        </td>
      </tr>          
      <tr>
        <td colspan="4"><input type="submit" value="Update Job" /></td>  
      </tr>
    </table>
  </fieldset>
</form>  
</div>

</body>
</html>
