<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <ul id="menu">
    <li id="menuItem"><a href="/">Home</a></li>
    <li id="menuItem"><a href="/companies">Companies</a></li>
    <li id="menuItem"><a href="/contacts">Contacts</a></li>
    <li id="menuItem"><a href="/candidates">Candidates</a></li>
    <li id="menuItem"><a class="active" href="/jobs">Jobs</a></li>
    <li id="menuItem"><a href="/jobtypes">Job Types</a></li>
    <li id="menuItem"><a href="/applications">Applications</a></li>
  </ul>   

  <br>
  <h2>Job App Tracker:  Add, Update, and Search Jobs</h2>

  <p></p>
  <br>

  <table class="aTable">
    <tr>
      <th>job_id</th>
      <th>Title</th>
      <th>Location</th>
      <th>Descripton</th>
      <th>is_active</th>
      <th>Company</th>
      <th>Job Type</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Software Engineer</td>
      <td>Remote</td>
      <td>Write Java code</td>
      <td>Yes</td>
      <td>Hooli</td>
      <td>Technical</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Administrative Assistant</td>
      <td>Los Angeles</td>
      <td>Assist the CEO</td>
      <td>No</td>
      <td>Acme Corporation</td>
      <td>Administrative</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Manager</td>
      <td>New Mexico</td>
      <td>Supervise fast food employees</td>
      <td>Yes</td>
      <td>Los Pollos Hermanos</td>
      <td></td>
    </tr>
  </table>    


<div id="form">
  <form>
    <fieldset>
    <legend><h3>Add a New Job 
      <small>( * indicates a required field )</h3></legend>
    <table cellpadding="4" cellspacing="4">
      <tr>
        <td>Title *</td><td><input text /></td>
      </tr>
        <td>Location *</td><td><input text /></td>
      <tr>
        <td>Description *</td><td><textarea rows="6" cols="50"></textarea></td>
      </tr>
      <tr>
        <td>Company *</td>
        <td>
          <select>
            <option value="">Select...</option>
            <option value="1">Hooli</option>
            <option value="2">Acme Corporation</option>
            <option value="3">Los Pollos Hermanos</option>
          </select>
        </td>
      </tr>   
      <tr>
        <td>Job Type</td>
        <td>
          <select>
            <option value="">None</option>
            <option value="EXEC">Executive</option>
            <option value="TECH">Technical</option>
            <option value="ADMIN">Administrative</option>
          </select>                   
        </td>
      </tr>    
        <td colspan="4"><input type="submit" value="Add Job" /></td>  
      </tr>
    </table>
  </fieldset>
  </form>  
</div>

<div id="form"> 
  <form>
    <fieldset>
    <legend><h2>Update a Job:
      <small>( * indicates a required field )</h2></legend>

    <table cellpadding="4" cellspacing="4">
      <tr>
        <td>Job to Update *</td>
        <td>
          <select>
            <option value="">Select...</option>
            <option value="1">Software Engineer, Hooli</option>
            <option value="2">Administrative Assistant, Acme Corporation</option>
            <option value="3">Manager, Los Pollos Hermanos</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Title *</td><td><input text /></td>
      </tr>
        <td>Location *</td><td><input text /></td>
      <tr>
        <td>Description *</td><td><input text /></td>
      </tr>
      <tr>
        <td>is_active? * </td>
        <td>
          <input type="checkbox"><small> (mark if yes)</small></td>
      </tr>  
      <tr>
        <td>Job Type</td>
        <td>
          <select>
            <option value="">None</option>
            <option value="EXEC">Executive</option>
            <option value="TECH">Technical</option>
            <option value="ADMIN">Administrative</option>
          </select>          
        </td>
      </tr>          
      <tr>
        <td colspan="4"><input type="submit" value="Update Job" /></td>  
      </tr>
    </table>
  </fieldset>
</form>  
</div>

  
<div id="form"> 
  <form>
    <fieldset>
    <legend><h1>Search Jobs:</h1></legend>
    <table cellpadding="4" cellspacing="4">
      <tr>
        <td>Search by:
          <select>
            <option value="">Select...</option>
            <option value="company_id">Company</option>
            <option value="job_type">Job Type</option>
            <option value="title">Title</option>
            <option value="location">Location</option>
          </select>
        </td>
      </tr>
        <td>Enter search phrase:</td><td><input text /></td>
      <tr>
        <td colspan="4"><input type="submit" value="Search All Jobs" /></td>  
      </tr>
    </tr>
    </table>
</fieldset>
</form>  
</div>

</body>
</html>
