<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <ul id="menu">
    <li id="menuItem"><a href="/">Home</a></li>
    <li id="menuItem"><a href="/companies">Companies</a></li>
    <li id="menuItem"><a href="/contacts">Contacts</a></li>
    <li id="menuItem"><a href="/candidates">Candidates</a></li>
    <li id="menuItem"><a href="/jobs">Jobs</a></li>
    <li id="menuItem"><a class="active" href="/jobtypes">Job Types</a></li>
    <li id="menuItem"><a href="/applications">Applications</a></li>
  </ul> 

  <br>
  <h2>Job App Tracker:  Enter a New Job Type</h2>
  <p></p>
  <br>
    
  <table class="aTable">
    <thead>
      <tr>
        {% for key in job_types[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
        
      </tr>
    </thead>

    </tbody>
    {% for job_type in job_types %}
    <tr>
      {% for key in job_type.keys() %}
      <td>{{ job_type[key] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>    

    <div id="form">
      <form action="" method="POST">
        <fieldset>
        <legend><h3>Add a Job Type
          <small>( * indicates a required field )</h3></legend>
      <input type="hidden" id="statement" name="statement" value="INSERT">
      <table cellpadding="4" cellspacing="4">
        <tr>
          <td>Job Type Code *</td><td><input name="job_type_code" id="job_type_code" text placeholder="Enter Code in ALL Caps" /></td>
        </tr>
          <td>Description *</td><td><input name="job_type_description" id="job_type_description" /></td>
        <tr>
          <td colspan="4"><input type="submit" value="Add Job Type" /></td>  
        </tr>
      </table>
    </fieldset>
  </form>  
  </div>

</body>
</html>
