<html>
<head>
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <ul id="menu">
    <li id="menuItem"><a href="/">Home</a></li>
    <li id="menuItem"><a href="/companies">Companies</a></li>
    <li id="menuItem"><a href="/contacts">Contacts</a></li>
    <li id="menuItem"><a href="/candidates">Candidates</a></li>
    <li id="menuItem"><a href="/jobs">Jobs</a></li>
    <li id="menuItem"><a class="active" href="/jobtypes">Job Types</a></li>
    <li id="menuItem"><a href="/applications">Applications</a></li>
  </ul> 

  <br>
  <h2>Job App Tracker:  Enter a New Job Type</h2>
  <p></p>
  <br>
    
  <table class="aTable">
      <tr>
        <th>Job Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>TECH</td>
        <td>Technical</td>
      </tr>
      <tr>
        <td>ADMIN</td>
        <td>Administrative</td>   
      </tr>
      <tr>
        <td>EXEC</td>
        <td>Executive</td>   
      </tr>
    </table>    

    <div id="form">
      <form>
        <fieldset>
        <legend><h3>Add a Job Type
          <small>( * indicates a required field )</h3></legend>
      <table cellpadding="4" cellspacing="4">
        <tr>
          <td>job_type_code *</td>
          <td><input text placeholder="Enter Code in ALL Caps"/></td>
        </tr>
          <td>Description *</td><td><input text /></td>
        <tr>
          <td colspan="4"><input type="submit" value="Add Job Type" /></td>  
        </tr>
      </table>
    </fieldset>
  </form>  
  </div>

</body>
</html>
